.file {
    visibility: hidden;
    position: absolute;
}
.card-img {
    height: 200px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.27);
}
.card-img>img {
    height: 100%;
}
.card-title {
    min-height: 35px;
}
.bootstrap-tagsinput .tag {
    color: #1969fb;
    border: 1px solid;
    padding: 0 5px;
    border-radius: 4px;
    font-size: 12px;
}
.bootstrap-tagsinput .tag:hover {
    background-color: lightgrey;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
    color: red;
}
@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}
@media (min-width: 0){
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0){
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

.g-bg-secondary {
    background-color: #fafafa !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #777 !important;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top:20px
}

.reply_section {
    display: none;
}